footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

tr, td {
    padding-right: 2em;
}

button {
    padding-right: 0.7em;
}

/* Styles for Page Headers */
.PageHeader {
    color: #3b5998;
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .PageHeader h1 {
    font-size: 2em;
    margin: 0;
  }
  
/* Styles for Edit/Delete buttons within tables */
.edit-button {
    margin-right: 2px;
}

.edit-button:hover {
    color: #979797;
}

.delete-button {
    margin-left: 2px;
}

.delete-button:hover {
    color: #979797;
}